In [6]:
# Import Libraries
import pandas as pd

# Read in the data
schools = pd.read_csv('data//schools.csv')

# View the first few rows
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [7]:
# Filter schools with average math schore at least 80% of the maximum possible score (800)
best_math_schools = schools[schools['average_math'] >= 640]

# Select the 'school_name' and 'average_math' columns
best_math_schools = best_math_schools[['school_name', 'average_math']]

# Sort by 'average_math' in descending order
best_math_schools = best_math_schools.sort_values('average_math', ascending = False)

# Display the result
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [9]:
# What are the top 10 performing schools based on SAT scores?

# Create column 'total_SAT'
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# Identify the top 10 schools
top_10_schools = schools[['school_name', 'total_SAT']].sort_values('total_SAT', ascending = False).head(10)

# View top 10 schools
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [12]:
# Group by 'borough' and calculate the required statistics
borough_stats = schools.groupby('borough')['total_SAT'].agg(
    num_schools='count',
    average_SAT='mean',
    std_SAT='std'
).reset_index()

# Find the borough with the largest standard deviation
largest_std_dev = borough_stats.loc[borough_stats['std_SAT'].idxmax()]

# Round the numeric values to two decimal places manually
largest_std_dev['average_SAT'] = round(largest_std_dev['average_SAT'], 2)
largest_std_dev['std_SAT'] = round(largest_std_dev['std_SAT'], 2)

# Convert the result to a DataFrame with a single row
largest_std_dev = pd.DataFrame([largest_std_dev])

# Display the result
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29

/tmp/ipykernel_387/1479987284.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  largest_std_dev['average_SAT'] = round(largest_std_dev['average_SAT'], 2)
/tmp/ipykernel_387/1479987284.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  largest_std_dev['std_SAT'] = round(largest_std_dev['std_SAT'], 2)